<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.group.special_work_exam.simrecord.dao.PracticeRecordMapper" >
  <resultMap id="BaseResultMap" type="com.group.special_work_exam.simrecord.bean.PracticeRecord" >
    <id column="practice_record_id" property="practiceRecordId" jdbcType="VARCHAR" />
    <result column="questionid" property="questionid" jdbcType="INTEGER" />
    <result column="practice_time" property="practiceTime" jdbcType="TIMESTAMP" />
    <result column="userid" property="userid" jdbcType="INTEGER" />
    <result column="practice_answer" property="practiceAnswer" jdbcType="VARCHAR" />
    <result column="practice_isright" property="practiceIsright" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    practice_record_id, questionid, practice_time, userid, practice_answer, practice_isright
  </sql>
  <!--查询数量-->
  <select id="findCount" resultType="int" parameterType="map" >
    select count(1) from practice_record p
    INNER JOIN examquestion e on e.id=p.questionid
    INNER JOIN unit u on e.unitid = u.unitid
    INNER JOIN province_type pt on pt.province_type_id = u.provincetypeid
    where p.userid = #{userId,jdbcType=INTEGER} and pt.province_type_id = #{provinceTypeId,jdbcType=INTEGER}
  </select>
  <!--查询历史答题记录-->
  <select id="findHistory" resultMap="BaseResultMap" parameterType="map" >
    select
    <include refid="Base_Column_List" />
    from practice_record p
    INNER JOIN examquestion e on e.id=p.questionid
    INNER JOIN unit u on e.unitid = u.unitid
    INNER JOIN province_type pt on pt.province_type_id = u.provincetypeid
    where p.userid = #{userId,jdbcType=INTEGER} and pt.province_type_id = #{provinceTypeId,jdbcType=INTEGER}
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from practice_record
    where practice_record_id = #{practiceRecordId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from practice_record
    where practice_record_id = #{practiceRecordId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.group.special_work_exam.simrecord.bean.PracticeRecord" >
    insert into practice_record (practice_record_id, questionid, practice_time, 
      userid, practice_answer, practice_isright
      )
    values (#{practiceRecordId,jdbcType=VARCHAR}, #{questionid,jdbcType=INTEGER}, #{practiceTime,jdbcType=TIMESTAMP}, 
      #{userid,jdbcType=INTEGER}, #{practiceAnswer,jdbcType=VARCHAR}, #{practiceIsright,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.group.special_work_exam.simrecord.bean.PracticeRecord" >
    insert into practice_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="practiceRecordId != null" >
        practice_record_id,
      </if>
      <if test="questionid != null" >
        questionid,
      </if>
      <if test="practiceTime != null" >
        practice_time,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="practiceAnswer != null" >
        practice_answer,
      </if>
      <if test="practiceIsright != null" >
        practice_isright,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="practiceRecordId != null" >
        #{practiceRecordId,jdbcType=VARCHAR},
      </if>
      <if test="questionid != null" >
        #{questionid,jdbcType=INTEGER},
      </if>
      <if test="practiceTime != null" >
        #{practiceTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="practiceAnswer != null" >
        #{practiceAnswer,jdbcType=VARCHAR},
      </if>
      <if test="practiceIsright != null" >
        #{practiceIsright,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.group.special_work_exam.simrecord.bean.PracticeRecord" >
    update practice_record
    <set >
      <if test="questionid != null" >
        questionid = #{questionid,jdbcType=INTEGER},
      </if>
      <if test="practiceTime != null" >
        practice_time = #{practiceTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userid != null" >
        userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="practiceAnswer != null" >
        practice_answer = #{practiceAnswer,jdbcType=VARCHAR},
      </if>
      <if test="practiceIsright != null" >
        practice_isright = #{practiceIsright,jdbcType=INTEGER},
      </if>
    </set>
    where practice_record_id = #{practiceRecordId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.group.special_work_exam.simrecord.bean.PracticeRecord" >
    update practice_record
    set questionid = #{questionid,jdbcType=INTEGER},
      practice_time = #{practiceTime,jdbcType=TIMESTAMP},
      userid = #{userid,jdbcType=INTEGER},
      practice_answer = #{practiceAnswer,jdbcType=VARCHAR},
      practice_isright = #{practiceIsright,jdbcType=INTEGER}
    where practice_record_id = #{practiceRecordId,jdbcType=VARCHAR}
  </update>
</mapper>