<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.group.special_work_exam.sys.dao.CertificateMapper" >
  <resultMap id="BaseResultMap" type="com.group.special_work_exam.sys.bean.Certificate" >
    <id column="certificate_id" property="certificateId" jdbcType="INTEGER" />
    <result column="certificate_title" property="certificateTitle" jdbcType="VARCHAR" />
    <result column="certificate_desc" property="certificateDesc" jdbcType="VARCHAR" />
    <result column="certificate_begindate" property="certificateBegindate" jdbcType="DATE" />
    <result column="certificate_enddate" property="certificateEnddate" jdbcType="DATE" />
    <result column="certificate_state" property="certificateState" jdbcType="INTEGER" />
    <result column="certificate_userid" property="certificateUserid" jdbcType="INTEGER" />
    <result column="certificate_createtime" property="certificateCreatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    certificate_id, certificate_title, certificate_desc, certificate_begindate, certificate_enddate, 
    certificate_state, certificate_userid, certificate_createtime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from certificate
    where certificate_id = #{certificateId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from certificate
    where certificate_id = #{certificateId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.group.special_work_exam.sys.bean.Certificate" >
    insert into certificate (certificate_id, certificate_title, 
      certificate_desc, certificate_begindate, certificate_enddate, 
      certificate_state, certificate_userid, certificate_createtime
      )
    values (#{certificateId,jdbcType=INTEGER}, #{certificateTitle,jdbcType=VARCHAR}, 
      #{certificateDesc,jdbcType=VARCHAR}, #{certificateBegindate,jdbcType=DATE}, #{certificateEnddate,jdbcType=DATE}, 
      #{certificateState,jdbcType=INTEGER}, #{certificateUserid,jdbcType=INTEGER}, #{certificateCreatetime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.group.special_work_exam.sys.bean.Certificate" >
    insert into certificate
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="certificateId != null" >
        certificate_id,
      </if>
      <if test="certificateTitle != null" >
        certificate_title,
      </if>
      <if test="certificateDesc != null" >
        certificate_desc,
      </if>
      <if test="certificateBegindate != null" >
        certificate_begindate,
      </if>
      <if test="certificateEnddate != null" >
        certificate_enddate,
      </if>
      <if test="certificateState != null" >
        certificate_state,
      </if>
      <if test="certificateUserid != null" >
        certificate_userid,
      </if>
      <if test="certificateCreatetime != null" >
        certificate_createtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="certificateId != null" >
        #{certificateId,jdbcType=INTEGER},
      </if>
      <if test="certificateTitle != null" >
        #{certificateTitle,jdbcType=VARCHAR},
      </if>
      <if test="certificateDesc != null" >
        #{certificateDesc,jdbcType=VARCHAR},
      </if>
      <if test="certificateBegindate != null" >
        #{certificateBegindate,jdbcType=DATE},
      </if>
      <if test="certificateEnddate != null" >
        #{certificateEnddate,jdbcType=DATE},
      </if>
      <if test="certificateState != null" >
        #{certificateState,jdbcType=INTEGER},
      </if>
      <if test="certificateUserid != null" >
        #{certificateUserid,jdbcType=INTEGER},
      </if>
      <if test="certificateCreatetime != null" >
        #{certificateCreatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.group.special_work_exam.sys.bean.Certificate" >
    update certificate
    <set >
      <if test="certificateTitle != null" >
        certificate_title = #{certificateTitle,jdbcType=VARCHAR},
      </if>
      <if test="certificateDesc != null" >
        certificate_desc = #{certificateDesc,jdbcType=VARCHAR},
      </if>
      <if test="certificateBegindate != null" >
        certificate_begindate = #{certificateBegindate,jdbcType=DATE},
      </if>
      <if test="certificateEnddate != null" >
        certificate_enddate = #{certificateEnddate,jdbcType=DATE},
      </if>
      <if test="certificateState != null" >
        certificate_state = #{certificateState,jdbcType=INTEGER},
      </if>
      <if test="certificateUserid != null" >
        certificate_userid = #{certificateUserid,jdbcType=INTEGER},
      </if>
      <if test="certificateCreatetime != null" >
        certificate_createtime = #{certificateCreatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where certificate_id = #{certificateId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.group.special_work_exam.sys.bean.Certificate" >
    update certificate
    set certificate_title = #{certificateTitle,jdbcType=VARCHAR},
      certificate_desc = #{certificateDesc,jdbcType=VARCHAR},
      certificate_begindate = #{certificateBegindate,jdbcType=DATE},
      certificate_enddate = #{certificateEnddate,jdbcType=DATE},
      certificate_state = #{certificateState,jdbcType=INTEGER},
      certificate_userid = #{certificateUserid,jdbcType=INTEGER},
      certificate_createtime = #{certificateCreatetime,jdbcType=TIMESTAMP}
    where certificate_id = #{certificateId,jdbcType=INTEGER}
  </update>
</mapper>