<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.group.special_work_exam.sys.dao.LunBoMapper" >
  <resultMap id="BaseResultMap" type="com.group.special_work_exam.sys.bean.LunBo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="imageurl" property="imageurl" jdbcType="VARCHAR" />
    <result column="imagedesc" property="imagedesc" jdbcType="VARCHAR" />
    <result column="prepareone" property="prepareone" jdbcType="VARCHAR" />
    <result column="preparetwo" property="preparetwo" jdbcType="VARCHAR" />
    <result column="preparethree" property="preparethree" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, imageurl, imagedesc, prepareone, preparetwo, preparethree
  </sql>
  <select id="selectAll" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from lunbo
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from lunbo
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from lunbo
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.group.special_work_exam.sys.bean.LunBo" >
    insert into lunbo (id, imageurl, imagedesc, 
      prepareone, preparetwo, preparethree
      )
    values (#{id,jdbcType=INTEGER}, #{imageurl,jdbcType=VARCHAR}, #{imagedesc,jdbcType=VARCHAR}, 
      #{prepareone,jdbcType=VARCHAR}, #{preparetwo,jdbcType=VARCHAR}, #{preparethree,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.group.special_work_exam.sys.bean.LunBo" >
    insert into lunbo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="imageurl != null" >
        imageurl,
      </if>
      <if test="imagedesc != null" >
        imagedesc,
      </if>
      <if test="prepareone != null" >
        prepareone,
      </if>
      <if test="preparetwo != null" >
        preparetwo,
      </if>
      <if test="preparethree != null" >
        preparethree,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="imageurl != null" >
        #{imageurl,jdbcType=VARCHAR},
      </if>
      <if test="imagedesc != null" >
        #{imagedesc,jdbcType=VARCHAR},
      </if>
      <if test="prepareone != null" >
        #{prepareone,jdbcType=VARCHAR},
      </if>
      <if test="preparetwo != null" >
        #{preparetwo,jdbcType=VARCHAR},
      </if>
      <if test="preparethree != null" >
        #{preparethree,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.group.special_work_exam.sys.bean.LunBo" >
    update lunbo
    <set >
      <if test="imageurl != null" >
        imageurl = #{imageurl,jdbcType=VARCHAR},
      </if>
      <if test="imagedesc != null" >
        imagedesc = #{imagedesc,jdbcType=VARCHAR},
      </if>
      <if test="prepareone != null" >
        prepareone = #{prepareone,jdbcType=VARCHAR},
      </if>
      <if test="preparetwo != null" >
        preparetwo = #{preparetwo,jdbcType=VARCHAR},
      </if>
      <if test="preparethree != null" >
        preparethree = #{preparethree,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.group.special_work_exam.sys.bean.LunBo" >
    update lunbo
    set imageurl = #{imageurl,jdbcType=VARCHAR},
      imagedesc = #{imagedesc,jdbcType=VARCHAR},
      prepareone = #{prepareone,jdbcType=VARCHAR},
      preparetwo = #{preparetwo,jdbcType=VARCHAR},
      preparethree = #{preparethree,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>