<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.group.special_work_exam.power.dao.PowerLogMapper" >
  <resultMap id="BaseResultMap" type="com.group.special_work_exam.power.bean.PowerLog" >
    <id column="log_id" property="logId" jdbcType="INTEGER" />
    <result column="ctime" property="ctime" jdbcType="TIMESTAMP" />
    <result column="endtime" property="endtime" jdbcType="TIMESTAMP" />
    <result column="exctime" property="exctime" jdbcType="REAL" />
    <result column="level" property="level" jdbcType="VARCHAR" />
    <result column="logger_name" property="loggerName" jdbcType="VARCHAR" />
    <result column="file_name" property="fileName" jdbcType="VARCHAR" />
    <result column="host" property="host" jdbcType="VARCHAR" />
    <result column="thread" property="thread" jdbcType="VARCHAR" />
    <result column="clasz" property="clasz" jdbcType="VARCHAR" />
    <result column="method" property="method" jdbcType="VARCHAR" />
    <result column="line_number" property="lineNumber" jdbcType="VARCHAR" />
    <result column="message" property="message" jdbcType="VARCHAR" />
    <result column="throwables" property="throwables" jdbcType="VARCHAR" />
    <result column="uri" property="uri" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.group.special_work_exam.power.bean.PowerLog" extends="BaseResultMap" >
    <result column="params" property="params" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    log_id, ctime, endtime, exctime, level, logger_name, file_name, host, thread, clasz, 
    method, line_number, message, throwables, uri, user_id
  </sql>
  <sql id="Blob_Column_List" >
    params
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from power_log
    where log_id = #{logId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from power_log
    where log_id = #{logId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.group.special_work_exam.power.bean.PowerLog" >
    insert into power_log (log_id, ctime, endtime, 
      exctime, level, logger_name, 
      file_name, host, thread, 
      clasz, method, line_number, 
      message, throwables, uri, 
      user_id, params)
    values (#{logId,jdbcType=INTEGER}, #{ctime,jdbcType=TIMESTAMP}, #{endtime,jdbcType=TIMESTAMP}, 
      #{exctime,jdbcType=REAL}, #{level,jdbcType=VARCHAR}, #{loggerName,jdbcType=VARCHAR}, 
      #{fileName,jdbcType=VARCHAR}, #{host,jdbcType=VARCHAR}, #{thread,jdbcType=VARCHAR}, 
      #{clasz,jdbcType=VARCHAR}, #{method,jdbcType=VARCHAR}, #{lineNumber,jdbcType=VARCHAR}, 
      #{message,jdbcType=VARCHAR}, #{throwables,jdbcType=VARCHAR}, #{uri,jdbcType=VARCHAR}, 
      #{userId,jdbcType=BIGINT}, #{params,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.group.special_work_exam.power.bean.PowerLog" >
    insert into power_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="logId != null" >
        log_id,
      </if>
      <if test="ctime != null" >
        ctime,
      </if>
      <if test="endtime != null" >
        endtime,
      </if>
      <if test="exctime != null" >
        exctime,
      </if>
      <if test="level != null" >
        level,
      </if>
      <if test="loggerName != null" >
        logger_name,
      </if>
      <if test="fileName != null" >
        file_name,
      </if>
      <if test="host != null" >
        host,
      </if>
      <if test="thread != null" >
        thread,
      </if>
      <if test="clasz != null" >
        clasz,
      </if>
      <if test="method != null" >
        method,
      </if>
      <if test="lineNumber != null" >
        line_number,
      </if>
      <if test="message != null" >
        message,
      </if>
      <if test="throwables != null" >
        throwables,
      </if>
      <if test="uri != null" >
        uri,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="params != null" >
        params,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="logId != null" >
        #{logId,jdbcType=INTEGER},
      </if>
      <if test="ctime != null" >
        #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null" >
        #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="exctime != null" >
        #{exctime,jdbcType=REAL},
      </if>
      <if test="level != null" >
        #{level,jdbcType=VARCHAR},
      </if>
      <if test="loggerName != null" >
        #{loggerName,jdbcType=VARCHAR},
      </if>
      <if test="fileName != null" >
        #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="host != null" >
        #{host,jdbcType=VARCHAR},
      </if>
      <if test="thread != null" >
        #{thread,jdbcType=VARCHAR},
      </if>
      <if test="clasz != null" >
        #{clasz,jdbcType=VARCHAR},
      </if>
      <if test="method != null" >
        #{method,jdbcType=VARCHAR},
      </if>
      <if test="lineNumber != null" >
        #{lineNumber,jdbcType=VARCHAR},
      </if>
      <if test="message != null" >
        #{message,jdbcType=VARCHAR},
      </if>
      <if test="throwables != null" >
        #{throwables,jdbcType=VARCHAR},
      </if>
      <if test="uri != null" >
        #{uri,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="params != null" >
        #{params,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.group.special_work_exam.power.bean.PowerLog" >
    update power_log
    <set >
      <if test="ctime != null" >
        ctime = #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null" >
        endtime = #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="exctime != null" >
        exctime = #{exctime,jdbcType=REAL},
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=VARCHAR},
      </if>
      <if test="loggerName != null" >
        logger_name = #{loggerName,jdbcType=VARCHAR},
      </if>
      <if test="fileName != null" >
        file_name = #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="host != null" >
        host = #{host,jdbcType=VARCHAR},
      </if>
      <if test="thread != null" >
        thread = #{thread,jdbcType=VARCHAR},
      </if>
      <if test="clasz != null" >
        clasz = #{clasz,jdbcType=VARCHAR},
      </if>
      <if test="method != null" >
        method = #{method,jdbcType=VARCHAR},
      </if>
      <if test="lineNumber != null" >
        line_number = #{lineNumber,jdbcType=VARCHAR},
      </if>
      <if test="message != null" >
        message = #{message,jdbcType=VARCHAR},
      </if>
      <if test="throwables != null" >
        throwables = #{throwables,jdbcType=VARCHAR},
      </if>
      <if test="uri != null" >
        uri = #{uri,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="params != null" >
        params = #{params,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where log_id = #{logId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.group.special_work_exam.power.bean.PowerLog" >
    update power_log
    set ctime = #{ctime,jdbcType=TIMESTAMP},
      endtime = #{endtime,jdbcType=TIMESTAMP},
      exctime = #{exctime,jdbcType=REAL},
      level = #{level,jdbcType=VARCHAR},
      logger_name = #{loggerName,jdbcType=VARCHAR},
      file_name = #{fileName,jdbcType=VARCHAR},
      host = #{host,jdbcType=VARCHAR},
      thread = #{thread,jdbcType=VARCHAR},
      clasz = #{clasz,jdbcType=VARCHAR},
      method = #{method,jdbcType=VARCHAR},
      line_number = #{lineNumber,jdbcType=VARCHAR},
      message = #{message,jdbcType=VARCHAR},
      throwables = #{throwables,jdbcType=VARCHAR},
      uri = #{uri,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=BIGINT},
      params = #{params,jdbcType=LONGVARCHAR}
    where log_id = #{logId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.group.special_work_exam.power.bean.PowerLog" >
    update power_log
    set ctime = #{ctime,jdbcType=TIMESTAMP},
      endtime = #{endtime,jdbcType=TIMESTAMP},
      exctime = #{exctime,jdbcType=REAL},
      level = #{level,jdbcType=VARCHAR},
      logger_name = #{loggerName,jdbcType=VARCHAR},
      file_name = #{fileName,jdbcType=VARCHAR},
      host = #{host,jdbcType=VARCHAR},
      thread = #{thread,jdbcType=VARCHAR},
      clasz = #{clasz,jdbcType=VARCHAR},
      method = #{method,jdbcType=VARCHAR},
      line_number = #{lineNumber,jdbcType=VARCHAR},
      message = #{message,jdbcType=VARCHAR},
      throwables = #{throwables,jdbcType=VARCHAR},
      uri = #{uri,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=BIGINT}
    where log_id = #{logId,jdbcType=INTEGER}
  </update>
</mapper>