<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.group.special_work_exam.examination.dao.QuestionOptionMapper" >
  <!--题目选项-->
  <resultMap id="BaseResultMap" type="com.group.special_work_exam.examination.bean.QuestionOption" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="optionPre" property="optionpre" jdbcType="VARCHAR" />
    <result column="isanswer" property="isanswer" jdbcType="INTEGER" />
    <result column="questionid" property="questionid" jdbcType="INTEGER" />
    <result column="orders" property="orders" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.group.special_work_exam.examination.bean.QuestionOption" extends="BaseResultMap" >
    <result column="optiontxt" property="optiontxt" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, optionPre, isanswer, questionid, orders
  </sql>
  <sql id="Blob_Column_List" >
    optiontxt
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from questionoption
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from questionoption
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.group.special_work_exam.examination.bean.QuestionOption" >
    insert into questionoption (id, optionPre, isanswer, 
      questionid, orders, optiontxt
      )
    values (#{id,jdbcType=INTEGER}, #{optionpre,jdbcType=VARCHAR}, #{isanswer,jdbcType=INTEGER}, 
      #{questionid,jdbcType=INTEGER}, #{orders,jdbcType=INTEGER}, #{optiontxt,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.group.special_work_exam.examination.bean.QuestionOption" >
    insert into questionoption
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="optionpre != null" >
        optionPre,
      </if>
      <if test="isanswer != null" >
        isanswer,
      </if>
      <if test="questionid != null" >
        questionid,
      </if>
      <if test="orders != null" >
        orders,
      </if>
      <if test="optiontxt != null" >
        optiontxt,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="optionpre != null" >
        #{optionpre,jdbcType=VARCHAR},
      </if>
      <if test="isanswer != null" >
        #{isanswer,jdbcType=INTEGER},
      </if>
      <if test="questionid != null" >
        #{questionid,jdbcType=INTEGER},
      </if>
      <if test="orders != null" >
        #{orders,jdbcType=INTEGER},
      </if>
      <if test="optiontxt != null" >
        #{optiontxt,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.group.special_work_exam.examination.bean.QuestionOption" >
    update questionoption
    <set >
      <if test="optionpre != null" >
        optionPre = #{optionpre,jdbcType=VARCHAR},
      </if>
      <if test="isanswer != null" >
        isanswer = #{isanswer,jdbcType=INTEGER},
      </if>
      <if test="questionid != null" >
        questionid = #{questionid,jdbcType=INTEGER},
      </if>
      <if test="orders != null" >
        orders = #{orders,jdbcType=INTEGER},
      </if>
      <if test="optiontxt != null" >
        optiontxt = #{optiontxt,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.group.special_work_exam.examination.bean.QuestionOption" >
    update questionoption
    set optionPre = #{optionpre,jdbcType=VARCHAR},
      isanswer = #{isanswer,jdbcType=INTEGER},
      questionid = #{questionid,jdbcType=INTEGER},
      orders = #{orders,jdbcType=INTEGER},
      optiontxt = #{optiontxt,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.group.special_work_exam.examination.bean.QuestionOption" >
    update questionoption
    set optionPre = #{optionpre,jdbcType=VARCHAR},
      isanswer = #{isanswer,jdbcType=INTEGER},
      questionid = #{questionid,jdbcType=INTEGER},
      orders = #{orders,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>