<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.group.special_work_exam.dao.ExamQuestionMapper" >
  <resultMap id="BaseResultMap" type="com.group.special_work_exam.bean.ExamQuestion" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="typecode" property="typecode" jdbcType="VARCHAR" />
    <result column="answer" property="answer" jdbcType="VARCHAR" />
    <result column="createdate" property="createdate" jdbcType="TIMESTAMP" />
    <result column="createUser" property="createuser" jdbcType="BIGINT" />
    <result column="points" property="points" jdbcType="REAL" />
    <result column="orders" property="orders" jdbcType="INTEGER" />
    <result column="unitid" property="unitid" jdbcType="INTEGER" />
    <result column="pid" property="pid" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.group.special_work_exam.bean.ExamQuestionWithBLOBs" extends="BaseResultMap" >
    <result column="stem" property="stem" jdbcType="LONGVARCHAR" />
    <result column="analysis" property="analysis" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, typecode, answer, createdate, createUser, points, orders, unitid, pid
  </sql>
  <sql id="Blob_Column_List" >
    stem, analysis
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from examquestion
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from examquestion
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.group.special_work_exam.bean.ExamQuestionWithBLOBs" >
    insert into examquestion (id, typecode, answer, 
      createdate, createUser, points, 
      orders, unitid, pid, 
      stem, analysis)
    values (#{id,jdbcType=INTEGER}, #{typecode,jdbcType=VARCHAR}, #{answer,jdbcType=VARCHAR}, 
      #{createdate,jdbcType=TIMESTAMP}, #{createuser,jdbcType=BIGINT}, #{points,jdbcType=REAL}, 
      #{orders,jdbcType=INTEGER}, #{unitid,jdbcType=INTEGER}, #{pid,jdbcType=INTEGER}, 
      #{stem,jdbcType=LONGVARCHAR}, #{analysis,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.group.special_work_exam.bean.ExamQuestionWithBLOBs" >
    insert into examquestion
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="typecode != null" >
        typecode,
      </if>
      <if test="answer != null" >
        answer,
      </if>
      <if test="createdate != null" >
        createdate,
      </if>
      <if test="createuser != null" >
        createUser,
      </if>
      <if test="points != null" >
        points,
      </if>
      <if test="orders != null" >
        orders,
      </if>
      <if test="unitid != null" >
        unitid,
      </if>
      <if test="pid != null" >
        pid,
      </if>
      <if test="stem != null" >
        stem,
      </if>
      <if test="analysis != null" >
        analysis,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="typecode != null" >
        #{typecode,jdbcType=VARCHAR},
      </if>
      <if test="answer != null" >
        #{answer,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="createuser != null" >
        #{createuser,jdbcType=BIGINT},
      </if>
      <if test="points != null" >
        #{points,jdbcType=REAL},
      </if>
      <if test="orders != null" >
        #{orders,jdbcType=INTEGER},
      </if>
      <if test="unitid != null" >
        #{unitid,jdbcType=INTEGER},
      </if>
      <if test="pid != null" >
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="stem != null" >
        #{stem,jdbcType=LONGVARCHAR},
      </if>
      <if test="analysis != null" >
        #{analysis,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.group.special_work_exam.bean.ExamQuestionWithBLOBs" >
    update examquestion
    <set >
      <if test="typecode != null" >
        typecode = #{typecode,jdbcType=VARCHAR},
      </if>
      <if test="answer != null" >
        answer = #{answer,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null" >
        createdate = #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="createuser != null" >
        createUser = #{createuser,jdbcType=BIGINT},
      </if>
      <if test="points != null" >
        points = #{points,jdbcType=REAL},
      </if>
      <if test="orders != null" >
        orders = #{orders,jdbcType=INTEGER},
      </if>
      <if test="unitid != null" >
        unitid = #{unitid,jdbcType=INTEGER},
      </if>
      <if test="pid != null" >
        pid = #{pid,jdbcType=INTEGER},
      </if>
      <if test="stem != null" >
        stem = #{stem,jdbcType=LONGVARCHAR},
      </if>
      <if test="analysis != null" >
        analysis = #{analysis,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.group.special_work_exam.bean.ExamQuestionWithBLOBs" >
    update examquestion
    set typecode = #{typecode,jdbcType=VARCHAR},
      answer = #{answer,jdbcType=VARCHAR},
      createdate = #{createdate,jdbcType=TIMESTAMP},
      createUser = #{createuser,jdbcType=BIGINT},
      points = #{points,jdbcType=REAL},
      orders = #{orders,jdbcType=INTEGER},
      unitid = #{unitid,jdbcType=INTEGER},
      pid = #{pid,jdbcType=INTEGER},
      stem = #{stem,jdbcType=LONGVARCHAR},
      analysis = #{analysis,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.group.special_work_exam.bean.ExamQuestion" >
    update examquestion
    set typecode = #{typecode,jdbcType=VARCHAR},
      answer = #{answer,jdbcType=VARCHAR},
      createdate = #{createdate,jdbcType=TIMESTAMP},
      createUser = #{createuser,jdbcType=BIGINT},
      points = #{points,jdbcType=REAL},
      orders = #{orders,jdbcType=INTEGER},
      unitid = #{unitid,jdbcType=INTEGER},
      pid = #{pid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>