<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.group.special_work_exam.dao.SimulateStrategyMapper" >
  <resultMap id="BaseResultMap" type="com.group.special_work_exam.bean.SimulateStrategy" >
    <id column="strategy_id" property="strategyId" jdbcType="INTEGER" />
    <result column="strategy_name" property="strategyName" jdbcType="VARCHAR" />
    <result column="strategy_single_num" property="strategySingleNum" jdbcType="INTEGER" />
    <result column="strategy_multiple_num" property="strategyMultipleNum" jdbcType="INTEGER" />
    <result column="strategy_judge_num" property="strategyJudgeNum" jdbcType="INTEGER" />
    <result column="strategy_combination_num" property="strategyCombinationNum" jdbcType="INTEGER" />
    <result column="strategy_ptype_id" property="strategyPtypeId" jdbcType="INTEGER" />
    <result column="strategy_state" property="strategyState" jdbcType="INTEGER" />
    <result column="strategy_total_num" property="strategyTotalNum" jdbcType="INTEGER" />
    <result column="strategy_total_score" property="strategyTotalScore" jdbcType="REAL" />
    <result column="strategy_pass_score" property="strategyPassScore" jdbcType="REAL" />
    <result column="strategy_duration" property="strategyDuration" jdbcType="INTEGER" />
    <result column="strategy_single_order" property="strategySingleOrder" jdbcType="INTEGER" />
    <result column="strategy_multiple_order" property="strategyMultipleOrder" jdbcType="INTEGER" />
    <result column="strategy_judge_order" property="strategyJudgeOrder" jdbcType="INTEGER" />
    <result column="strategy_combination_order" property="strategyCombinationOrder" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    strategy_id, strategy_name, strategy_single_num, strategy_multiple_num, strategy_judge_num, 
    strategy_combination_num, strategy_ptype_id, strategy_state, strategy_total_num, 
    strategy_total_score, strategy_pass_score, strategy_duration, strategy_single_order, 
    strategy_multiple_order, strategy_judge_order, strategy_combination_order
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from simulate_strategy
    where strategy_id = #{strategyId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from simulate_strategy
    where strategy_id = #{strategyId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.group.special_work_exam.bean.SimulateStrategy" >
    insert into simulate_strategy (strategy_id, strategy_name, strategy_single_num, 
      strategy_multiple_num, strategy_judge_num, 
      strategy_combination_num, strategy_ptype_id, 
      strategy_state, strategy_total_num, strategy_total_score, 
      strategy_pass_score, strategy_duration, strategy_single_order, 
      strategy_multiple_order, strategy_judge_order, 
      strategy_combination_order)
    values (#{strategyId,jdbcType=INTEGER}, #{strategyName,jdbcType=VARCHAR}, #{strategySingleNum,jdbcType=INTEGER}, 
      #{strategyMultipleNum,jdbcType=INTEGER}, #{strategyJudgeNum,jdbcType=INTEGER}, 
      #{strategyCombinationNum,jdbcType=INTEGER}, #{strategyPtypeId,jdbcType=INTEGER}, 
      #{strategyState,jdbcType=INTEGER}, #{strategyTotalNum,jdbcType=INTEGER}, #{strategyTotalScore,jdbcType=REAL}, 
      #{strategyPassScore,jdbcType=REAL}, #{strategyDuration,jdbcType=INTEGER}, #{strategySingleOrder,jdbcType=INTEGER}, 
      #{strategyMultipleOrder,jdbcType=INTEGER}, #{strategyJudgeOrder,jdbcType=INTEGER}, 
      #{strategyCombinationOrder,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.group.special_work_exam.bean.SimulateStrategy" >
    insert into simulate_strategy
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="strategyId != null" >
        strategy_id,
      </if>
      <if test="strategyName != null" >
        strategy_name,
      </if>
      <if test="strategySingleNum != null" >
        strategy_single_num,
      </if>
      <if test="strategyMultipleNum != null" >
        strategy_multiple_num,
      </if>
      <if test="strategyJudgeNum != null" >
        strategy_judge_num,
      </if>
      <if test="strategyCombinationNum != null" >
        strategy_combination_num,
      </if>
      <if test="strategyPtypeId != null" >
        strategy_ptype_id,
      </if>
      <if test="strategyState != null" >
        strategy_state,
      </if>
      <if test="strategyTotalNum != null" >
        strategy_total_num,
      </if>
      <if test="strategyTotalScore != null" >
        strategy_total_score,
      </if>
      <if test="strategyPassScore != null" >
        strategy_pass_score,
      </if>
      <if test="strategyDuration != null" >
        strategy_duration,
      </if>
      <if test="strategySingleOrder != null" >
        strategy_single_order,
      </if>
      <if test="strategyMultipleOrder != null" >
        strategy_multiple_order,
      </if>
      <if test="strategyJudgeOrder != null" >
        strategy_judge_order,
      </if>
      <if test="strategyCombinationOrder != null" >
        strategy_combination_order,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="strategyId != null" >
        #{strategyId,jdbcType=INTEGER},
      </if>
      <if test="strategyName != null" >
        #{strategyName,jdbcType=VARCHAR},
      </if>
      <if test="strategySingleNum != null" >
        #{strategySingleNum,jdbcType=INTEGER},
      </if>
      <if test="strategyMultipleNum != null" >
        #{strategyMultipleNum,jdbcType=INTEGER},
      </if>
      <if test="strategyJudgeNum != null" >
        #{strategyJudgeNum,jdbcType=INTEGER},
      </if>
      <if test="strategyCombinationNum != null" >
        #{strategyCombinationNum,jdbcType=INTEGER},
      </if>
      <if test="strategyPtypeId != null" >
        #{strategyPtypeId,jdbcType=INTEGER},
      </if>
      <if test="strategyState != null" >
        #{strategyState,jdbcType=INTEGER},
      </if>
      <if test="strategyTotalNum != null" >
        #{strategyTotalNum,jdbcType=INTEGER},
      </if>
      <if test="strategyTotalScore != null" >
        #{strategyTotalScore,jdbcType=REAL},
      </if>
      <if test="strategyPassScore != null" >
        #{strategyPassScore,jdbcType=REAL},
      </if>
      <if test="strategyDuration != null" >
        #{strategyDuration,jdbcType=INTEGER},
      </if>
      <if test="strategySingleOrder != null" >
        #{strategySingleOrder,jdbcType=INTEGER},
      </if>
      <if test="strategyMultipleOrder != null" >
        #{strategyMultipleOrder,jdbcType=INTEGER},
      </if>
      <if test="strategyJudgeOrder != null" >
        #{strategyJudgeOrder,jdbcType=INTEGER},
      </if>
      <if test="strategyCombinationOrder != null" >
        #{strategyCombinationOrder,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.group.special_work_exam.bean.SimulateStrategy" >
    update simulate_strategy
    <set >
      <if test="strategyName != null" >
        strategy_name = #{strategyName,jdbcType=VARCHAR},
      </if>
      <if test="strategySingleNum != null" >
        strategy_single_num = #{strategySingleNum,jdbcType=INTEGER},
      </if>
      <if test="strategyMultipleNum != null" >
        strategy_multiple_num = #{strategyMultipleNum,jdbcType=INTEGER},
      </if>
      <if test="strategyJudgeNum != null" >
        strategy_judge_num = #{strategyJudgeNum,jdbcType=INTEGER},
      </if>
      <if test="strategyCombinationNum != null" >
        strategy_combination_num = #{strategyCombinationNum,jdbcType=INTEGER},
      </if>
      <if test="strategyPtypeId != null" >
        strategy_ptype_id = #{strategyPtypeId,jdbcType=INTEGER},
      </if>
      <if test="strategyState != null" >
        strategy_state = #{strategyState,jdbcType=INTEGER},
      </if>
      <if test="strategyTotalNum != null" >
        strategy_total_num = #{strategyTotalNum,jdbcType=INTEGER},
      </if>
      <if test="strategyTotalScore != null" >
        strategy_total_score = #{strategyTotalScore,jdbcType=REAL},
      </if>
      <if test="strategyPassScore != null" >
        strategy_pass_score = #{strategyPassScore,jdbcType=REAL},
      </if>
      <if test="strategyDuration != null" >
        strategy_duration = #{strategyDuration,jdbcType=INTEGER},
      </if>
      <if test="strategySingleOrder != null" >
        strategy_single_order = #{strategySingleOrder,jdbcType=INTEGER},
      </if>
      <if test="strategyMultipleOrder != null" >
        strategy_multiple_order = #{strategyMultipleOrder,jdbcType=INTEGER},
      </if>
      <if test="strategyJudgeOrder != null" >
        strategy_judge_order = #{strategyJudgeOrder,jdbcType=INTEGER},
      </if>
      <if test="strategyCombinationOrder != null" >
        strategy_combination_order = #{strategyCombinationOrder,jdbcType=INTEGER},
      </if>
    </set>
    where strategy_id = #{strategyId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.group.special_work_exam.bean.SimulateStrategy" >
    update simulate_strategy
    set strategy_name = #{strategyName,jdbcType=VARCHAR},
      strategy_single_num = #{strategySingleNum,jdbcType=INTEGER},
      strategy_multiple_num = #{strategyMultipleNum,jdbcType=INTEGER},
      strategy_judge_num = #{strategyJudgeNum,jdbcType=INTEGER},
      strategy_combination_num = #{strategyCombinationNum,jdbcType=INTEGER},
      strategy_ptype_id = #{strategyPtypeId,jdbcType=INTEGER},
      strategy_state = #{strategyState,jdbcType=INTEGER},
      strategy_total_num = #{strategyTotalNum,jdbcType=INTEGER},
      strategy_total_score = #{strategyTotalScore,jdbcType=REAL},
      strategy_pass_score = #{strategyPassScore,jdbcType=REAL},
      strategy_duration = #{strategyDuration,jdbcType=INTEGER},
      strategy_single_order = #{strategySingleOrder,jdbcType=INTEGER},
      strategy_multiple_order = #{strategyMultipleOrder,jdbcType=INTEGER},
      strategy_judge_order = #{strategyJudgeOrder,jdbcType=INTEGER},
      strategy_combination_order = #{strategyCombinationOrder,jdbcType=INTEGER}
    where strategy_id = #{strategyId,jdbcType=INTEGER}
  </update>
</mapper>