<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.group.special_work_exam.dao.SysSettingMapper" >
  <resultMap id="BaseResultMap" type="com.group.special_work_exam.bean.SysSetting" >
    <id column="setting_id" property="settingId" jdbcType="INTEGER" />
    <result column="setting_name" property="settingName" jdbcType="VARCHAR" />
    <result column="setting_value" property="settingValue" jdbcType="INTEGER" />
    <result column="setting_createtime" property="settingCreatetime" jdbcType="TIMESTAMP" />
    <result column="setting_modifyuser" property="settingModifyuser" jdbcType="VARCHAR" />
    <result column="setting_modifytime" property="settingModifytime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    setting_id, setting_name, setting_value, setting_createtime, setting_modifyuser, 
    setting_modifytime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_setting
    where setting_id = #{settingId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_setting
    where setting_id = #{settingId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.group.special_work_exam.bean.SysSetting" >
    insert into sys_setting (setting_id, setting_name, setting_value, 
      setting_createtime, setting_modifyuser, 
      setting_modifytime)
    values (#{settingId,jdbcType=INTEGER}, #{settingName,jdbcType=VARCHAR}, #{settingValue,jdbcType=INTEGER}, 
      #{settingCreatetime,jdbcType=TIMESTAMP}, #{settingModifyuser,jdbcType=VARCHAR}, 
      #{settingModifytime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.group.special_work_exam.bean.SysSetting" >
    insert into sys_setting
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="settingId != null" >
        setting_id,
      </if>
      <if test="settingName != null" >
        setting_name,
      </if>
      <if test="settingValue != null" >
        setting_value,
      </if>
      <if test="settingCreatetime != null" >
        setting_createtime,
      </if>
      <if test="settingModifyuser != null" >
        setting_modifyuser,
      </if>
      <if test="settingModifytime != null" >
        setting_modifytime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="settingId != null" >
        #{settingId,jdbcType=INTEGER},
      </if>
      <if test="settingName != null" >
        #{settingName,jdbcType=VARCHAR},
      </if>
      <if test="settingValue != null" >
        #{settingValue,jdbcType=INTEGER},
      </if>
      <if test="settingCreatetime != null" >
        #{settingCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="settingModifyuser != null" >
        #{settingModifyuser,jdbcType=VARCHAR},
      </if>
      <if test="settingModifytime != null" >
        #{settingModifytime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.group.special_work_exam.bean.SysSetting" >
    update sys_setting
    <set >
      <if test="settingName != null" >
        setting_name = #{settingName,jdbcType=VARCHAR},
      </if>
      <if test="settingValue != null" >
        setting_value = #{settingValue,jdbcType=INTEGER},
      </if>
      <if test="settingCreatetime != null" >
        setting_createtime = #{settingCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="settingModifyuser != null" >
        setting_modifyuser = #{settingModifyuser,jdbcType=VARCHAR},
      </if>
      <if test="settingModifytime != null" >
        setting_modifytime = #{settingModifytime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where setting_id = #{settingId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.group.special_work_exam.bean.SysSetting" >
    update sys_setting
    set setting_name = #{settingName,jdbcType=VARCHAR},
      setting_value = #{settingValue,jdbcType=INTEGER},
      setting_createtime = #{settingCreatetime,jdbcType=TIMESTAMP},
      setting_modifyuser = #{settingModifyuser,jdbcType=VARCHAR},
      setting_modifytime = #{settingModifytime,jdbcType=TIMESTAMP}
    where setting_id = #{settingId,jdbcType=INTEGER}
  </update>
</mapper>